In [5]:
# se importan las librerias necesarias
import pandas as pd
import random
import sqlite3
import sys

In [2]:
# Consigna - Crear una base de datos de sql con los siguientes campos:
# - customer_id: int (autoincremental, from 1 to 500)
# - client_type: ["CLASSIC", "GOLD", "BLACK"]
# - card_brand: ["VISA", "MASTERCARD", "AMEX"]
# - card_number: int (16 digits)
# - card-cvv: int (3 digits)
# - card_type: ["CREDIT", "DEBIT"]
# - card_issue_date: date (YYYY-MM-DD)
# - card_expiration_date: string (YYYY-MM-DD)

### Se crean los valores que tendrá la base de datos

In [3]:
customer_id = list(range(1, 501)) # -> lista de 1 a 500

In [4]:
# se crean las posibilidades que puede tener cada campo (para luego generar aleatoriamente)
client_type_choices = ["CLASSIC", "GOLD", "BLACK"]
card_brand_choices = ["VISA", "MASTERCARD", "AMEX"]
card_type_choices = ["CREDIT", "DEBIT"]
cvv_choices = list(range(100, 999))

#### Se populan las columnas en base a los parámetros definidos

In [5]:
# se genera una lista de 500 registros aleatoriamente. El 60 % de los usuarios son de tipo CLASSIC, el 0 % de los usuarios son de tipo GOLD y el 0 % de los usuarios son de tipo BLACK
client_type = random.choices(client_type_choices, k=500,  weights= [0.6, 0.3, 0.1])

# se generan 500 registros aleatorios entre los tipos de tarjeta que se pueden tener
card_brand = random.choices(card_brand_choices, k=500)

# se generan 500 registros aleatorios entre la clase de tarjeta 
card_type = random.choices(card_type_choices, k=500)

# se generan 500 cvv aleatorios
cvv = random.choices(cvv_choices, k=500)

In [6]:
# Se generan 500 numeros de tarjeta aleatorios de 16 digitos
card_number = random.choices(range(1_000_000_000_000_000, 9_999_999_999_999_999), k=500)

In [7]:
# objetivo: se generan 500 fechas de emision aleatorias. Puede ser cualquier dia y mes. Entre los años 2016 y 2021

# se generan 500 fechas de emision aleatorias
card_issue_date = ["2021-01-01"] * 500

# modificar el mes y año de la fecha de emision
for i in range(len(card_issue_date)):
    card_issue_date[i] = card_issue_date[i].split("-")
    card_issue_date[i][2] = str(random.randint(1, 28))
    card_issue_date[i][1] = str(random.randint(1, 12))
    card_issue_date[i][0] = str(random.randint(2016, 2021))
    card_issue_date[i] = "-".join(card_issue_date[i])

In [8]:
# objetivo: se generan 500 fechas de vencimiento aleatorias. Siempre vencen el primero de cada mes, puede ser cualquier mes. Entre los años 2021 y 2026

# se generan 500 fechas de emision aleatorias
card_expiration_date = ["2021-01-01"] * 500

# modificar el mes y año de la fecha de emision
for i in range(len(card_expiration_date)):
    card_expiration_date[i] = card_expiration_date[i].split("-")
    card_expiration_date[i][1] = str(random.randint(1, 12))
    card_expiration_date[i][0] = str(random.randint(2022, 2026))
    card_expiration_date[i] = "-".join(card_expiration_date[i])

#### Se crea la base de datos según los campos generados

In [9]:
df = pd.DataFrame({"customer_id": customer_id, 
                   "client_type": client_type, 
                   "card_brand": card_brand, 
                   "card_type": card_type, 
                   "card_number": card_number, 
                   "cvv": cvv, 
                   "card_issue_date": card_issue_date, 
                   "card_expiration_date": card_expiration_date})

In [22]:
df

,customer_id,client_type,card_brand,card_type,card_number,cvv,card_issue_date,card_expiration_date
0,1,CLASSIC,AMEX,CREDIT,3082699198751329,137,2016-9-22,2026-2-01
1,2,CLASSIC,MASTERCARD,CREDIT,8212025456090487,503,2018-9-28,2023-8-01
2,3,BLACK,VISA,DEBIT,4907078237623698,978,2021-12-22,2023-9-01
3,4,CLASSIC,AMEX,DEBIT,2842501940540092,782,2019-3-28,2024-6-01
4,5,CLASSIC,VISA,DEBIT,5257563062418799,298,2021-5-23,2022-10-01
...,...,...,...,...,...,...,...,...
495,496,CLASSIC,AMEX,DEBIT,3601521681830938,966,2020-2-20,2022-9-01
496,497,GOLD,VISA,DEBIT,4293627466647196,837,2017-2-19,2023-3-01
497,498,GOLD,VISA,DEBIT,4254341560674236,269,2020-3-25,2022-6-01
498,499,CLASSIC,VISA,DEBIT,1570782834747221,670,2016-4-26,2024-1-01
499,500,CLASSIC,VISA,DEBIT,2166976202006719,340,2017-7-28,2022-5-01

#### Se exporta la tabla a SQL

In [12]:
# conexion a la base de datos
conn = sqlite3.connect("..\\database\\itbank.db")

In [23]:
# se exporta el dataframe al formato sql
df.to_sql("tipo_usuarios", conn, if_exists="replace", index=False)

In [ ]:
conn.close()